.name-cell {
    border: 1px solid black;
    background-color: white;
    border-radius: 3px 3px 3px 3px;
    
}

.align-middle{
    border: 1px solid black;
    font-size: 15px;
    
}

a {
    text-decoration: none;
    color: darkslategray; 
}

a:hover {
    font-style: italic;
    cursor: pointer;
    color: lightslategray;
}