.header {
    color: #ffffff;
    background-color: darkslategray;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 2%;
    border-radius: 0 0 2px 2px;
    
}
