.navbar {
    width: 100%;
    background-color: lightslategray;
    padding: 2% 0 2% 5%;
    border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
  }
  
  .navbar-collapse {
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
  }
  
  .search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  